@import "default.css";
@import "../reindeer/styles.css";
.floatright {
	float: right;
	overflow: auto;	
}
.floatleft {
	float: left;
	overflow: auto;	
}
.maincontainer{
	min-height: 100%;
	}
.fullwidth{
	width: 100%;
	clear: both;
}
.paddingtop20{
 padding-top:20.0px;
}
.paddingtop10{
 padding-top:10.0px;
}
.paddingtop30{
 padding-top:60.0px;
}
.paddingbottom10{
 padding-bottom:10px;
}
.clear{
	clear: both;
}
.red{
	background:red;
}

.header {
	height: 55px; 
	background: #fff; 
	white-space: normal;
	border: 1px solid #dcdcdc;
}
.footer {	
	height: 20px;
	background: #fff; 
	white-space: normal;
	border: 1px solid #dcdcdc;
	color:#999;
}
.footer a:link {color:#999;}    
.footer a:visited {color:#FF0000;} 
.footer a:hover {color:#FF0000;}   
.footer a:active {color:#999;}  
.whitebackground {	
	background: #fff; 
	white-space: normal;
	border: 1px solid #dcdcdc;
}
.logo {display:block;margin:0;}
ul{
    margin: 0 auto;
    padding: 0;
}
ul.horizontal_list li{
    text-align: left;
    float: left;
    list-style: none;

}
.columnheight50{
	height: 55px;
}
/* breadcrumb */
.bc ul, li {
	list-style-type:none;
	padding:0;
	margin:0;
	}		
#crumbs {
	height:2em;
	border:1px solid #dedede;
	}
#crumbs li {
	float:left;
	line-height:2em;
	color:#777;
	padding-left:.75em;
	}		
#crumbs li a {
	background:url(/browser/VAADIN/themes/myTheme/images/crumbs.gif) no-repeat right center;
	display:block;
	padding:0 15px 0 0;
	}							
#crumbs li a:link,
#crumbs li a:visited {
	color:#777;
	text-decoration:none;
	}	
.v-menubar {
	height: 28px;
	background: #efefef repeat-x;
	background-image: url(/browser/VAADIN/themes/myTheme/images/assets/menubg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	text-shadow: ;
	color: black;
}
.directmembers .v-tree-node {
	background: #ffffff;
	padding: 0 0;
}
/*
.v-table v-table-drophere{
	background: red repeat-x;
	background-image: url(/browser/VAADIN/themes/myTheme/images/assets/background-drophere.jpg); 
}
.v-table-drophere > div {
   background: transparent;
}*/
.v-table-body{
      overflow: hidden !important;
}
.smallfont{
font-size:x-small;
}
.skybluetext{
	color:#blue;
}



.v-tree-node-caption span {
    white-space: normal;
}
.footer .v-button.v-button-link,
.v-button.v-button-link:focus,
.v-button.v-button-link:active,
.v-button-link.v-pressed,
.v-disabled.v-button.v-button-link,
.v-button.v-button-link .v-button-wrap,
.v-button.v-button-link:focus .v-button-wrap,
.v-button.v-button-link:active .v-button-wrap,
.v-button-link.v-pressed .v-button-wrap,
.v-disabled.v-button.v-button-link .v-button-wrap {
	background: transparent;
	height: auto;
	padding: 0;
	cursor: pointer;
	line-height: inherit;
	}

.footer .v-button.v-button-link.v-disabled,
.v-button.v-button-link.v-disabled .v-button-wrap {
	cursor: default;
	}
	
.footer .v-button-link .v-button-caption,
.v-nativebutton-link .v-nativebutton-caption {
	line-height: inherit;
	font-weight: normal;
	color: #999;
	font-size: 10px;
	text-shadow: none;
	}
	
.footer .v-button-link:focus .v-button-caption,
.v-nativebutton-link:focus .v-nativebutton-caption {
	outline: 1px dotted #1b699f;
	}
.inset {
text-shadow: 0px 1px 2px #C1CDCD;
}
.metadata .v-button.v-button-link,
.v-button.v-button-link:focus,
.v-button.v-button-link:active,
.v-button-link.v-pressed,
.v-disabled.v-button.v-button-link,
.v-button.v-button-link .v-button-wrap,
.v-button.v-button-link:focus .v-button-wrap,
.v-button.v-button-link:active .v-button-wrap,
.v-button-link.v-pressed .v-button-wrap,
.v-disabled.v-button.v-button-link .v-button-wrap {
	background: transparent;
	height: auto;
	padding: 0;
	cursor: pointer;
	line-height: inherit;
	}

.metadata .v-button.v-button-link.v-disabled,
.v-button.v-button-link.v-disabled .v-button-wrap {
	cursor: default;
	}
	
.metadata .v-button-link .v-button-caption,
.v-nativebutton-link .v-nativebutton-caption {
	line-height: inherit;
	font-weight: 900;
	color: #1b699f;
	font-size: 12px;
	text-shadow: none;
	}
	
.metadata .v-button-link:focus .v-button-caption,
.v-nativebutton-link:focus .v-nativebutton-caption {
	outline: 1px dotted #1b699f;
	}
	
.elabsForm {
	background: #FFFFFF; color: #000000;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
}

.elabsForm:active { 
	 background: #FFFFFF; text-decoration; 
}

.elabsForm:hover {
 	background: #ECEDF0; text-decoration: none; 
 }

.elabsLine {
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
}

.elabsLine:active { 
	background: #FFFFFF; color:#292725; text-decoration; 
}

.elabsLine:hover {
 	background: #E8E8E8; color:#DD7D2E; text-decoration: none; font-weight:bold; 
 }

.elabsTextField {
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	font-style:italic;
	background: #D0FEEB;
}

.elabsTextField:active { 
    background: #D0FEEB; text-decoration; font-style:italic;  
}

.elabsTextField:hover {
 	background: #FFFFFF; text-decoration: none; font-style:normal;
 }
  
 .elabsLabel {
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	color:#000000;
}

.elabsLabel:active { 
	background: #E8E8E8; text-decoration; 
}

.elabsLabel:hover {
 	background: #ECEDF0; text-decoration: none;
 }

.grey-label {
	background-color: #CCCCCC;
}

.button-layout {
	background: #eee;
}