.project
.DS_Store
.classpath
.settings
.settings/*
target/*
reports/*
build/*
.idea
bin
bin/*
log/*
script/*
*.orig
*.log*
*.snapshot
*.iml
*.ipr
*.iws
*.sh
.mymetadata
pom.xml.versionsBackup
.checkstyle
pom.xml
