<div class="footer">
<div class="floatleft" style="padding:5px;font-size:9px ">
©&nbsp;FIZ&nbsp;Karlsruhe&nbsp;GmbH&nbsp;1998-2011&nbsp;-&nbsp; <a href="http://www.fiz-karlsruhe.de/fiz_legal_notices.html"">Legal Notices</a>&nbsp;|&nbsp;<a href="http://www.fiz-karlsruhe.de/fiz_privacy_policy.html"">Privacy Policy</a>&nbsp;|&nbsp;<a href="http://www.fiz-karlsruhe.de/fiz_disclaimer.html"">Disclaimer</a>
</div>

<div class="floatright" style="padding:5px;font-size:9px ">
	<span location="admintool"></span> | <span location="change"></span>
</div>

</div>