<div id="header" class="header">
<div class="floatleft"><img
	src="/browser/VAADIN/themes/myTheme/images/escidoc-logo-klein.jpg" height="50"
	class="logo"></div>

<ul class="horizontal_list floatright" style="padding-top: 3px">
	<li location="form" style="padding-right: 183px" ></li>
	<li location="btnSearch" style="padding-right: 10px;padding-top:14px;padding-left:-8px"></li>
	<li location="searchTip" style="padding-top:20px;padding-right: 10px;"></li>
    <li location="login-name" style="width:35px;padding-top: 20px;"></li>
    <li location="username" style="width:50px;padding-top: 20px;padding-right:10px"></li>
	<li location="login" style="padding-top: 20px"></li>
	<li location="logout" style="padding-top: 20px"></li>
	<li location="vl"></li>
</ul>
</div>